body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Make sure the body covers the entire viewport height */
    margin: 0;
}

.loading-animation {
    text-align: center;
}
